 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";


body {
   background: #0F0F0F;
  color: white;
  font-family: var(--font-poppins), sans-serif; /* 👈 now Poppins everywhere */
  overflow-x: hidden;
}